{
  "env": {
    "browser": true,
    "node": true
  },
  "extends": ["eslint:recommended", "standard", "prettier"],
  "plugins": ["sort-keys-fix"],
  "rules": {
    "sort-keys": ["error", "asc", { "caseSensitive": true, "natural": false }],
    "sort-keys-fix/sort-keys-fix": "warn"
  }
}
